/* Login */
.login_wrapper {
	
}

.login_wrapper .table {
	width: auto;
	margin: auto;
}

.login_wrapper .table>.row>* {
	padding: 0.2em 0;
}

.login_wrapper a {
	font-weight: bold;
	font-size: 1.5em;
	display: block;
	cursor: pointer;
	border: 1px solid #CCC;
	text-decoration: none;
	color: inherit;
	padding: 0.2em 0.5em;
}

.login_wrapper a.touching {
	background-color: #EFEFEF;
}

.login_wrapper a>* {
	display: inline;
}

.login_wrapper a>*:FIRST-CHILD {
	width: 1px;
	padding-right: 0.2em;
}

.login_wrapper a>*[data-icon] {
	
}

.login_wrapper img {
	height: 30px;
	width: 30px;
	vertical-align: middle;
	opacity: 0.7;
}

/* /Login */